.list-containing-div {
  min-width: 350px;
  display: flex;
  flex-flow: column;
  margin-top: 15px;
}

.title-div {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.list-div {
  display: flex;
  flex-flow: column;
}
