.list-item-containing-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}

.list-item-containing-div > item-text {
  line-height: 28px;
}

.item-checkbox {
  line-height: 28px;
}
